<!-- Start OpenGraph -->
<!-- Common -->
<meta property="og:url" content="http://sanedi.ru/"/>
<meta property="og:type" content="article" />
<meta property="og:title" content="My site" />
<meta property="og:description" content="My site and you here" />
<!-- Image -->
<meta property="og:image" content="http://sanedi.ru/img/content/HTML_CSS_JS.png" />
<meta property="og:image:width" content="1500"/>
<meta property="og:image:height" content="879"/>
<!-- Language -->
<meta property="og:locale" content="en_GB" />
<!-- End OpenGraph -->