// Global code
@import "../../../global.scss";

// "wrapper" mixins 

// "wrapper" code
.wrapper{
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  @media screen and (min-width: $breakpoint-sm){
    max-width: 540px;
  }
  @media screen and (min-width: $breakpoint-md){
    max-width: 720px;
  }
  @media screen and (min-width: $breakpoint-lg){
    max-width: 960px;
  }
  @media screen and (min-width: $breakpoint-xl){
    max-width: 1180px;
  }
}