// Wrapper vars
$wrapper-max-width: 1180px;
$wrapper-side-padding: 0 10px;

// Mixins
@mixin root {
 --blue: #0475ee;
 --yellow: #fff707;
 --green: #28a745;
 --red: #f73c4f;
 --orange: #e59c24;
 --purple: #6f42c1;
 --white: #fff;
 --gray: #ccc;
 --black: #000;
 --dark: #333;
 --major-fonts: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 --minor-fonts: 'Times New Roman', Times, serif;
 --breakpoint-sm: 576px;
 --breakpoint-md: 768px;
 --breakpoint-lg: 992px;
 --breakpoint-xl: 1200px;
 font-size: 10px;
}