// Variables
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Mixins
@mixin root{
 :root{
  --pink: #FFC0CB;
  --red: #f73c4f;
  --orange: #e59c24;
  --yellow: #fff707;
  --khaki: #f0e68c;
  --green: #28a745;
  --pine: #01796f;
  --cyan: #37B6CE; 
  --light-blue: #72b5fd;
  --blue: #0475ee;
  --purple: #6f42c1;
  --indigo: 	#4B0082;
  --white: #fff;
  --gray: #ccc;
  --dark-gray: #959595;
  --dark: #333;
  --black: #000;
  --primary: #574DD8;
  --secondary: #A93CD4;
  color: #333;
  --gradient: linear-gradient(45deg, var(--cyan) 0%, var(--primary) 50%, var(--secondary) 100%);
  --breakpoint-sm: $breakpoint-sm;
  --breakpoint-md: $breakpoint-md;
  --breakpoint-lg: $breakpoint-lg;
  --breakpoint-xl: $breakpoint-xl;
  line-height: 1.5;
  font-size: 10px;
  --fonts-minor: 'Times New Roman', Times, serif;
  --fonts-major: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --transition-major: 0.2s all ease-in-out;
  --transition-minor: 0.4s all ease;
 }
}

@mixin media-xl {
 @media screen and (max-width: $breakpoint-xl){
  @content;
 }
}

@mixin media-lg {
 @media screen and (max-width: $breakpoint-lg){
  @content;
 }
}

@mixin media-md {
 @media screen and (max-width: $breakpoint-md){
  @content;
 }
}

@mixin media-sm {
 @media screen and (max-width: $breakpoint-sm){
  @content;
 }
}

// Functions
@function calcFluidFontSize($f-min, $f-max, $v-min: 320, $v-max: 1920, $units: px) {
 $k: ($f-max - $f-min)/($v-max - $v-min);
 $b: $f-min - $k * $v-min;
 $b: $b + $units;
 @return calc( #{$k} * 100vw + #{$b} );
}